body {
  margin: 0;
  font-family: "Poppins";
  padding-top: 60px;
}

.main-container {
  display: grid;
  grid-template-areas: "header" "main-content" "footer";
  grid-template-rows: auto 1fr auto;
  grid-template-columns: 1fr;
  height: 100vh;
}

.main-container .header {
  grid-area: header;
  display: flex;
  justify-content: space-around;
  background-color: #d6001c;
  padding: 8px;
  border-bottom: 2px solid #ffa400;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}

.main-container .header .jollibee-logo {
  height: 7vh;
  margin: 0 auto;
}

.main-container .ham-menu {
  height: 20px;
  width: 20px;
  position: relative;
  right: 20px;
  top: 2px;
  padding: 5px;
  margin-bottom: 1.4rem;
}

.main-container .ham-menu span {
  margin-top: 0.63rem;
  height: 4px;
  width: 25px;
  background-color: #fff;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: 0.3s ease;
  -webkit-transition: 0.3s ease;
  -moz-transition: 0.3s ease;
  -ms-transition: 0.3s ease;
  -o-transition: 0.3s ease;
}

.main-container .ham-menu span:nth-child(1) {
  top: 25%;
}

.main-container .ham-menu span:nth-child(3) {
  top: 75%;
}

.main-container .ham-menu.active span:nth-child(3) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}

.main-container .ham-menu.active span:nth-child(2) {
  opacity: 0;
}

.main-container .ham-menu.active span:nth-child(1) {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}

.main-container .sidebar {
  margin: 0;
  position: fixed;
  top: 0;
  left: -400px;
  width: 150px;
  height: 100%;
  background-color: #fff;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.5);
  transition: left 0.3s;
  -webkit-transition: left 0.3s;
  -moz-transition: left 0.3s;
  -ms-transition: left 0.3s;
  -o-transition: left 0.3s;
  z-index: 1002;
  overflow-y: scroll;
}

.main-container .sidebar .image-container {
  background-color: #d6001c;
  padding: 19.5px;
  text-align: center;
}

.main-container .sidebar .image-container #jollibee-logo {
  height: 4vh;
}

.main-container .sidebar nav {
  display: flex;
  flex-direction: column;
}

.main-container .sidebar nav .header-nav {
  padding: 0rem 0rem 0.1rem 0rem;
  transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

.main-container .sidebar nav .header-nav .header-nav-item {
  padding: 0.7rem 0rem 0.7rem 1.5rem;
}

.main-container .sidebar nav .header-nav .header-nav-item .header-nav-links {
  color: #000;
  text-decoration: none;
  font-size: 0.8em;
}

.main-container .sidebar nav .header-nav .header-nav-item .header-nav-links .links-name {
  margin-left: 5px;
}

.main-container .sidebar nav .header-nav .header-nav-item:hover {
  background-color: #ffa400;
  color: #fff;
}

.main-container .sidebar nav .sidebar-hor-line {
  border: 2px solid #000;
  width: 80%;
}

.main-container .sidebar nav .sidebar-links {
  padding: 0.7rem 0rem 0.7rem 1.5rem;
  transition: 0.1s ease-in-out;
  -webkit-transition: 0.1s ease-in-out;
  -moz-transition: 0.1s ease-in-out;
  -ms-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
}

.main-container .sidebar nav .sidebar-links a {
  color: #000;
  text-decoration: none;
  font-size: 0.8em;
}

.main-container .sidebar nav .sidebar-links:hover {
  background-color: #ffa400;
  color: #fff;
}

.main-container main.container-fluid {
  padding: 0;
}

.main-container #main-content {
  grid-area: main-content;
  background-color: #fff;
}

.main-container #main-content .jollibee-hero-banner {
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container #main-content .jollibee-hero-banner .jollibee-hero-container {
  padding: 5px 0px 10px 15px;
  color: #000;
}

.main-container #main-content .jollibee-hero-banner .jollibee-hero-container .hero {
  font-weight: bold;
  margin: 20px 0px 0px 0px;
  font-size: 1.3em;
}

.main-container #main-content .jollibee-hero-banner .jollibee-hero-container .hero-para {
  font-size: 0.6em;
  margin: 0px;
}

.main-container #main-content .jollibee-hero-banner .jollibee-hero-container .order-btn {
  background-color: #d6001c;
  outline: none;
  padding: 10px 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  margin-top: 5px;
  font-weight: bolder;
  border: none;
  font-family: "Poppins";
  font-size: 0.5em;
}

.main-container #main-content .jollibee-hero-banner .jollibee-image-banner {
  padding: 5px 10px 5px 0px;
}

.main-container #main-content .jollibee-hero-banner .jollibee-image-banner .banner {
  width: 50vw;
  margin-top: 20px;
}

.main-container #main-content .section1 {
  padding: 10px 10px;
  margin: 20px 20px;
  text-align: center;
}

.main-container #main-content .section1 .section-subhead {
  background-color: #ffa400;
  width: 180px;
  height: auto;
  padding: 15px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: #fff;
  margin-bottom: 20px;
}

.main-container #main-content .section1 .promos-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 25px 20px;
}

.main-container #main-content .section1 .promos-container #promo-link .image-link {
  width: 60vw;
}

.main-container #main-content .section1 #more-btn {
  background-color: #d6001c;
  width: 230px;
  height: auto;
  padding: 15px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: #fff;
  margin-bottom: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  font-family: "Poppins";
  border-bottom: 5px solid #ffa400;
  font-size: 1.4em;
}

.main-container #main-content .section1 #more-btn:hover {
  background-color: #ffa400;
}

.main-container #main-content .section2 {
  background-color: #d6001c;
  padding: 40px 0px;
  margin: 20px 0px;
  text-align: center;
}

.main-container #main-content .section2 .section-subhead {
  background-color: #ffa400;
  width: 200px;
  height: auto;
  padding: 15px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: #fff;
  margin-bottom: 20px;
}

.main-container #main-content .section2 .menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 60px;
  margin-bottom: 40px;
  padding: 25px 20px;
}

.main-container #main-content .section2 .menu-container .menu-items {
  width: 14rem;
  height: 14rem;
  color: #fff;
  box-shadow: 15px 7px 28px -4px rgba(0, 0, 0, 0.46);
  border-radius: 15px;
}

.main-container #main-content .section2 .menu-container .menu-items .menu-name {
  font-weight: bolder;
  font-size: 1.5em;
  padding: 20px 10px;
}

.main-container #main-content .section2 .menu-container .menu-items .menu {
  margin-top: 10px;
  width: 50vw;
}

.main-container #main-content .section2 #more-btn {
  background-color: #fff;
  width: 230px;
  height: auto;
  padding: 15px 20px;
  text-align: center;
  margin: 0 auto;
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
  color: #000;
  margin-bottom: 20px;
  outline: none;
  border: none;
  font-weight: bold;
  font-family: "Poppins";
  border-bottom: 5px solid #ffa400;
  font-size: 1.4em;
}

.main-container #main-content .section2 #more-btn:hover {
  background-color: #ffa400;
  color: #fff;
}

.main-container #main-content .section3 {
  padding: 10px 10px;
  margin: 20px 20px;
}

.main-container #main-content .section3 .cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

.main-container #main-content .section3 .cards-container .item-cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.main-container #main-content .section3 .cards-container .item-cards .cards-description-container {
  width: 70vw;
  height: 46vh;
  background-color: #c9dfdf;
  text-align: center;
  padding: 8px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.main-container #main-content .section3 .cards-container .item-cards .image-cards {
  width: 75vw;
}

.main-container #main-content .section3 .cards-container .item-cards .cards-description-container .card-subheading {
  font-weight: bold;
}

.main-container #main-content .section3 .cards-container .item-cards .cards-description-container .card-description {
  padding: 10px;
}

.main-container #main-content .section3 .cards-container .item-cards .cards-description-container .card-button {
  outline: none;
  border: none;
  background-color: #d6001c;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  font-weight: bolder;
}

.main-container #main-content .section3 .cards-container .item-cards .cards-description-container .card-button #card-item-logo {
  margin-left: 10px;
}

.main-container #main-content .section4 {
  padding: 40px 0px;
  margin: 20px 0px;
  background-color: #d6001c;
}

.main-container #main-content .section4 .merch-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.main-container #main-content .section4 .merch-container .merch-description .merch-text1 {
  color: #fff;
  margin: 0px;
  font-size: 0.6em;
}

.main-container #main-content .section4 .merch-container .merch-description .merch-text2 {
  color: #fff;
  font-weight: bold;
  margin: 0px;
  font-size: 1em;
}

.main-container #main-content .section4 .merch-container .merch-description .merch-text3 {
  color: #fff;
  margin: 0px;
  font-size: 0.8em;
}

.main-container #main-content .section4 .merch-container .merch-description .buy-merch {
  background-color: #ffa400;
  outline: none;
  padding: 10px 15px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #000;
  margin-top: 5px;
  font-weight: bolder;
  border: none;
  font-family: "Poppins";
  font-size: 0.5em;
}

.main-container #main-content .section4 .merch-container .merch-clothes .buy #clothes {
  width: 40vw;
}

.main-container #main-content .section5 {
  padding: 10px 10px;
  margin: 20px 20px;
  text-align: center;
}

.main-container #main-content .section5 .newstore-text1 {
  font-weight: bold;
  font-size: 1.2em;
  margin: 0px;
}

.main-container #main-content .section5 .newstore-text2 {
  font-size: 0.6em;
  margin: 0px;
}

.main-container #main-content .section5 .newstore-text2 .style-text {
  color: #d6001c;
}

.main-container #main-content .section5 .store-locations {
  text-decoration: none;
}

.main-container #main-content .section5 .new-store-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 40px;
  padding-top: 20px;
}

.main-container #main-content .section5 .new-store-container .new-store-image-container .new-store-image {
  width: 70vw;
}

.main-container #main-content .section5 .new-store-container .new-store-image-container .new-store-location {
  font-weight: bold;
}

.main-container #main-content .section5 .new-store-container .new-store-image-container .new-store-details {
  outline: none;
  border: none;
  padding: 10px 30px;
  background-color: #d6001c;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  font-family: "Poppins";
  font-weight: bold;
}

.main-container #main-content .footer {
  grid-area: footer;
}

.main-container #main-content .footer .footer-container {
  background-color: #d6001c;
  padding: 10px;
}

.main-container #main-content .footer .text-container {
  text-align: center;
  padding: 20px 15px;
  margin: 0 auto;
}

.main-container #main-content .footer .text-container .subscribe-text1 {
  font-weight: Bold;
  color: #fff;
  font-size: 1.2em;
  margin: 0px;
}

.main-container #main-content .footer .text-container .subscribe-text2 {
  color: #fff;
  font-size: 0.5em;
  margin: 0px;
}

.main-container #main-content .footer .text-container .email-input-container #email {
  padding: 10px;
  width: 100%;
  outline: none;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border: none;
  box-sizing: border-box;
  margin-top: 10px;
}

.main-container #main-content .footer .text-container .email-input-container .subscribe-button {
  display: block;
  margin: 0 auto;
  width: 100%;
  margin-top: 10px;
  padding: 6px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  border: none;
  font-family: "Poppins";
  font-weight: bold;
  background-color: #ffa400;
}

.main-container #main-content .footer .text-container .email-input-container .email-input-container-text {
  padding: 0px 5px;
  text-align: justify;
  font-size: 0.5em;
  color: #fff;
}

.main-container #main-content .footer .section-footer {
  padding: 10px 0px;
  margin: 20px 20px;
}

.main-container #main-content .footer .section-footer .footer-links-container {
  display: flex;
  flex-wrap: wrap;
  padding: 40px 0px;
  gap: 30px;
}

.main-container #main-content .footer .section-footer .footer-links-container .footer-links-division .icons-container .icons-item .icons {
  font-size: 0.6em;
  color: #d6001c;
  text-decoration: none;
}

.main-container #main-content .footer .section-footer .footer-links-container .footer-links-division .icons-container .icons-item .icons #icon {
  margin-right: 5px;
}

.main-container #main-content .footer .section-footer .footer-links-container .footer-links-division .icons-container .icons-item .icons:hover {
  -webkit-text-decoration: 2px solid #ffa400 underline;
  text-decoration: 2px solid #ffa400 underline;
}

.main-container #main-content .footer .section-footer .footer-links-container .footer-links-division .footer-subheading {
  font-weight: bold;
}

.main-container #main-content .footer .section-footer .footer-links-container .footer-links-division .footer-links {
  display: block;
  text-decoration: none;
  color: #000;
  padding: 5px 0px;
  font-size: 0.7em;
}

.main-container #main-content .footer .section-footer .footer-links-container .footer-links-division .footer-links:hover {
  -webkit-text-decoration: 2px solid underline #d6001c;
  text-decoration: 2px solid underline #d6001c;
}

.main-container #main-content .footer .section-footer .footer-links-container .footer-links-division .footer-orderbtn {
  outline: none;
  border: none;
  background-color: #d6001c;
  padding: 10px 30px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  -ms-border-radius: 20px;
  -o-border-radius: 20px;
  color: #fff;
  font-family: "Poppins";
  font-weight: bolder;
  margin-top: 15px;
}

.main-container #main-content .footer .section-footer .copyrights-container {
  text-align: center;
}

.main-container #main-content .footer .section-footer .copyrights-container .copyrights-text {
  font-size: 0.4em;
}

.main-container #main-content .footer .section-footer .copyrights-container .copyright-style1 {
  color: #d6001c;
}

.main-container #main-content .footer .section-footer .copyrights-container .copyright-style2 {
  color: #000;
}

@media only screen and (min-device-width: 375px) and (max-device-width: 375px) and (min-device-height: 812px) and (max-device-height: 812px) {
  .main-container .header {
    padding: 10px;
  }
  .main-container .header .jollibee-logo {
    margin-top: 5px;
  }
  .main-container .ham-menu {
    margin-top: 10px;
  }
}

/*# sourceMappingURL=styles.css.map */
